


<div class="container" style="border: 1px solid black; padding: 20px;margin-top: 20px;">
    <div class="row">
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  > <h1  style="text-align: center; border:2px solid indianred; font-family: fantasy;font-weight: 100px; color: #7b1800;">Soupe à l'oignon</h1></div>
       
        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-7"  > <p><span style="border: 1px solid indianred;padding: 10px;margin-top: 10px;">Préparation : 30 mn - Cuisson : 30 mn </span></p>
            <br>
            <p><span style="border: 1px solid indianred;padding: 10px;margin-top: 10px;"> Ingrédients pour 4/5 personnes :</span> </p>
                
        
            <ul>
                <li>3 gros oignons (ou 5 moyens)</li>
                
               <li> 8 tranches de pain de campagne (ou 12 rondelles de baguettes)</li>
                
                <li>120 g d’emmental ou de comté râpé</li>
                
                <li>2 l d’eau</li>
                
                <li>10 cl de vin blanc sec</li> 
                
                <li>2 gousses d’ail</li>
               
                <li>1 bouquet garni (1 morceau de blanc de poireau, 2 branches de persil, 6 feuilles de céleri)</li>
                
                <li>2 c. à soupe d’huile d’olive</li>
                
                <li>1 c. à soupe bombée de farine</li>
                
               <li> Huile d’olive</li>
                
                <li>Sel et poivre du moulin</li>
                
            </ul>
        
            <span>Préparation</span>
            <div class="container">
        
        <p > Dans une grande casserole, versez l’eau, ajoutez le bouquet garni, les gousses d’ail pelées et écrasées et le cube de bouillon, salez légèrement et poivrez. Laissez frémir sur feu moyen.
        Epluchez et émincez les oignons.
        
        Dans un faitout, faites caraméliser les oignons (pour donner une jolie couleur dorée à votre bouillon) dans de l’huile d’olive à feu moyen (sans cesser de remuer !).
        Une fois bien dorés, ajoutez une bonne cuillère de farine, remuez quelques instants sur feu doux puis mouillez les oignons avec le vin blanc et mélangez à nouveau.
        </div>
    </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-5"  > <img src="assets/cooking img/1c2.jpg" class="img-fluid img-responsive" alt="ph" id="img">
        </div>

            
    
</div>