<div class="top-content">
    <img src="assets/cooking img/breaking-egg-flour-spices-407073.jpeg" alt="">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text wow fadeInLeft">
                <h1>Welcome to our sweet flavours website </h1>
                <div class="description">
                    <p class="medium-paragraph">
                        A recipe has no soul. You as the cook must bring soul to the recipe. 'Thomas Keller'
                    </p>

                </div>
            </div>

        </div>
    </div>
    
</div>