
<!-- Features -->
<div class="features-container section-container">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>Contact us </h2>
                <hr >
                <div class="divider-1"><div class="line"></div></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>@seweetflav9</h3>
                        <p>
                         follow us pour plus d'informations délicieuses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>@sweetflavours</h3>
                        <p>
                            Ajoutez-nous sur instagram pour plus de délice
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        
           
        

    </div>
</div>