<div class="container mt-4">
    <div class="row" >
        
        <div class="col-lg-4 col-md-4 col-xd-12" style="border: 2px solid #feb729;" >
            <img src="assets/cooking img/1c2.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 > <a routerLink="/recette"  style="color:#7b1800 ; text-decoration: underline;">Soupe à l'oignon</a></h4> 
            Préparation
            Dans une grande casserole, versez l’eau, ajoutez le bouquet garni,
             les gousses d’ail pelées et écrasées et le cube de bouillon, 
             salez légèrement et poivrez. Laissez frémir ...
             <br>
              
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>
        <div class="col-lg-4 col-md-4 col-xd-12" >
            <img src="assets/cooking img/2c.jpg" class="img-fluid img-responsive" alt="ph">
           
            <h4 >Frittata</h4>
            La frittata est un plat traditionnel 
            de la cuisine italienne semblable à l'omelette, garni de différents ingrédients comme de la viande, des légumes et du fromage. Comme ...
            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/3c.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Tajin Marocaine </h4>
            Le tajine de bœuf s'entoure de pois chiches, le tajine aux boulettes de viande mêle bœuf, poulet, agneau et citron confit, 
            quand le veau fait son show en tajines
           
            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/bimb.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Bibimbap coréen au boeuf </h4>
           
            Direction la Corée avec le fameux
             Bibimbap ! Un plat très populaire
              en Corée à base de riz, de légumes
               sautés (privilégiez les légumes de saison, et si vous trouvez des shiitake frais ou deshydratés c’est top), et de boeuf émincé ou haché mariné à l’ail, sucre et sauce soja. On le sert avec un oeuf frit dessus, et du Gochujang, une pâte de piment coréenne fermentée super bonne (voir adresses dans cet article pour trouver les produits coréens ! Un repas complet plein de saveurs qui
             se mange dans un bol 🙂
             <br>
              
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/broch.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Brochettes de poulet </h4>
           
            Ma recette coup de coeur de brochettes de
             poulet satay: des morceaux de poulet 
             super tendres en brochette avec du curry.
             Une sauce à la cacahuète à tomber, dans laquelle vos invités pourront tremper les brochettes. Cuisson rapide (10 minutes), à la poêle ou au four (180°C). Pensez à bien les retourner au bout de 5 minutes ou plus régulièrement, qu’elles soient bien dorées. La sauce peut se préparer à l’avance et 
            se conserve plusieurs jours au frigo
            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/spagh.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >spaghetti meatballs </h4>
            Mes boulettes de boeuf ultra moelleuses
             à la sauce tomate maison sur 
             des spaghetti… le top. J’utilise
              du boeuf haché, du grana padano râpé, et des biscottes trempée dans le bouillon pour apporter un moelleux incomparable. La sauce est simple à réaliser, essayez de la laisser mijoter au moins 30 minutes  feu doux elle n’en sera que meilleure. Bon, dans la série « clichés », voici ma recette de 
            pizza maison et celle du tiramisu lol
           

            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/lasa.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Lasagnes moelleuses poulet </h4>
            Aimez-vous les lasagnes moelleuses ? 
            La première version, lasagnes classiques 
            à la sauce tomate et au boeuf, avait eu 
            pas mal de succès et a été vue près de 
            700 000 fois sur youtube ! Cette nouvelle
             recette facile et savoureuse de lasagnes est pour vous ! Voici ma recette de lasagnes au poulet, ricotta, épinards, pesto et béchamel maison ! Bien gratinées et prêtes en 45 minutes, c’est une recette à base de pâtes,
             parfaite pour l’été qui arrive !
             <br>
              
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/bol.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Bol renversé au poulet </h4>
           
            Parfois le hasard vous fait faire 
             belles rencontres…. Un midi, j’ai 
             croisé par hasard Maya dans les rues
              de Paris, elle connaissait Hervé 
              Cuisine et nous avons discuté quelques minutes. Elle m’a dit qu’elle cuisinait pas mal, surtout des recettes de son ile natale (Ile Maurice), et comme j’adore découvrir de nouvelles cuisines, je lui ai proposé de venir cuisiner 
            avec moi le temps d’une recette.
            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/tart.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Tortellini Poulet </h4>
           
            j’ai imaginé cette recette parfaite pour
             l’hiver, qui réchauffe et fait du bien.
              En partant des Tortellini poulet à la 
              paysanne, je les sers avec une 
              fricassée de champignon (un mélange de
               champignons de paris, de girolles, et 
               si vous en trouvez de cèpes), sautées 
               à l’huile d’olive et à la crème, une 
               demi burrata bien crémeuse, et des
                feuilles de basilic que j’ai fait
                 frire quelques secondes, trop belles, translucides et bien vertes. 
            C’est rapide à préparer et super bon !
            <br>
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>

    </div>
</div>
