<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #7b1800;">
    <a class="navbar-brand" href="#" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: lighter;">Sweet flavours </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
          <li class="nav-item active">

                <a class="nav-link" routerLink="/">Home </a>
            </li>
            <a class="nav-link" routerLink="/cuisine">Cuisine </a>
            <a class="nav-link" routerLink="/salade">Salade</a>
            <a class="nav-link" routerLink="/patisserie">Patisserie </a>
            <a class="nav-link" routerLink="/articles">Articles </a>

            <a class="nav-link" routerLink="/contact">Contact us  </a>

        </ul>
        <form class="form-inline my-2 my-lg-0" >
            <input class="form-control mr-sm-2" type="text" placeholder="Search" style="border-color: #feb729;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: #feb729; border-color: #feb729;">Search</button>
        </form>
    </div>
</nav>
