<div class="back"> 
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/p1.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Le Macaron</h4>
            <hr>
            <p class="text-justify">Mais si vous allez y arriver ! Essayez, avec cette vidéo, en suivant les étapes, vous me raconterez ! Commençons avec une recette 100% chocolat, nous essayerons d’en faire à d’autres parfums par la suite ! Voici donc les macarons au chocolat.

            </p>
        
              
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/p3.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Eclair</h4>
            <hr>

            <p class="text-justify">Une vidéo à voir d’urgence !
                 Des éclairs au chocolat ultra gourmands à refaire chez vous. 
                 Cette vidéo a été tournée à Los Angeles en studio, c’est une 
                 jolie collaboration avec Joanne, une jeune américaine qui anime 
                 .</p>
                
                 <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div> 
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/p2.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Lollipops </h4>
            <hr>

            <p class="text-justify">Ils ont été élus « gâteaux de l’année »
                 aux Etats-Unis et ont détrôné les cupcakes et
                  whoopie cakes…voici la recette des mignons et très tendances
                   POP CAKES ! Ludiques et faciles à réaliser, vous pouvez décliner 
                   leur look et leur goût à l’infini ! Petits et grands vont adorer, vous pouvez également les emballer et les offrir,
                 ça fait toujours plaisir!</p>
                 <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/pank1.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Pancakes </h4>
            <hr>

            <p class="text-justify">Des pancakes comme aux Etats-Unis, très moelleux avec mon astuce de préparation : on laisse reposer 30 minutes la pâte avant d’y ajouter les blancs d’oeufs montés en neige, résultat garanti !  Vous n’arrêterez plus d’en faire quand vous aurez testé et compris que c’est ultra facile et surtout bon… Brunch, petit-déjeuner ou goûter, tout le monde va les aimer… Utilisez également cette recette pour réaliser des blinis (sans le sucre) ou utilisez</p>
            <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/crep.webp" class="img-fluid img-responsive" alt="ph">
            <h4 >crepes </h4>
            <hr>

            <p class="text-justify">Des crêpes faciles à faire, savoureuses, parfumées et moelleuses…
                vous allez devenir accro à cette pate a crepe ! A la chandeleur,
                 pendant le weekend, ou pour une soirée crêpes, pensez-y ! J’ai
                  essayé plusieurs recettes, et je m’entraîne depuis que j’ai 10 ans '
                  🙂 Celle-ci est est vraiment parfaite. Mon astuce, qui n’est pas très diététique certes, c’est de mettre une petite (j’insiste, petite) noix de beurre avant la cuisson de chaque crêpe et de bien faire chauffer la poêle. Ainsi la pate a crepe est saisie, et vous obtiendrez 
               de belles crêpes dorées pour la chandeleur.</p>
               <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/cinm.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >cinnamon rolls</h4>
            <hr>

            <p class="text-justify">Il faut un peu de patience, 
                idéalement une machine à pain ou un robot pétrisseur,
                 et beaucoup de gourmandise et d’amis pour partager… brioches 
                 roulées ultra moelleuse, sucrée avec de la cannelle … on les appelle
                  les cinnamon rolls, très populaires aux Etats Unis 
                  (Cinnabons, c’est la marque de référence) et dans les pays nordiques où on les appelle Kanelbulle. Si vraiment on veut aller jusqu’au bout de la gourmandise, on y ajoute un petit glaçage au fromage
                 frais, et des noix de pécan caramélisées.</p>
                 <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>


        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/ceri.jpeg" class="img-fluid img-responsive" alt="ph">
            <h4 >clafoutis facile aux cerises </h4>
            <hr>

            <p class="text-justify">Une belle texture ferme et fondante comme un far
                 breton ou un flan pâtissier, avec cette recette facile de clafoutis 
                 aux cerises. J’en ai déjà proposé plusieurs comme 
                 le clafoutis aux cerises végétal, le clafoutis aux abricots ou
                  encore le clafoutis aux pêches, cette fois-ci c’est à ma soeur 
                  que je dois la recette, simple et efficace. 
                Peu d’ingrédients, et un clafoutis bien gourmand.</p>
                <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>

        </div>

    </div>
</div>
</div>