<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/s1.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Salade de Poulet</h4>

            <hr>
            <p class="text-justify">Voilà une recette à la fois gourmande et équilibrée qui vous permettra de vous régaler à l'heure du 
                déjeuner ou du dîner. Cette salade au poulet, agrémentée de tomates, d'œufs, de fromage et de laitue est extrêmement
                 facile et rapide à réaliser. Pleine de fraîcheur, elle sera ....</p>
                
              
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/s2.jpeg" class="img-fluid img-responsive" alt="ph">
            <h4 >salade composée au thon</h4>
            <hr>

            <p class="text-justify">Les salades composées sont appréciées toute l'année en entrée et particulièrement l'été par hautes températures. Testez cette recette facile et rapide à préparer
                 qui réunit salade verte, oeufs durs, thon, tomates cerises, olives noires et maïs.</p>
           
              
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div> 
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/cooking img/s3.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 >Salade Cobb </h4>
            <hr>

            <p class="text-justify">La salade Cobb, amis des internets, est une recette purement californienne. Pour ce qui est des ingrédients, il y a un moyen mnémotechnique pour vous en souvenir et si vous avez fait anglais première langue 😉

                IL faut panser EAT COBB (eat = manger) ...</p>
             
             <button type="button" class="btn btn-success"  routerLink="/recette">Read more</button>
        </div>
    </div>
</div>
